.movieListContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    gap: 5px;
}

.pagination button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination .activePage {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}
